%nav.navbar.navbar-inverse.navbar-static-top
  .container
    #bs-example-navbar-collapse-9.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{href: root_path}Home
        %li
          %a{href: articles_path} Blog
        %li
          %a{:href => "#"} Link

